.light-card{
    background:rgb(190, 190, 190);
  }

.dark-card{
    background:rgb(46, 46, 46);
}

.planet-card{
  margin:12px;
  background-color: rgb(212, 212, 212);
  border-radius: 8px;
  width:300px;
  box-shadow: 2px 2px 8px grey;
}

.planet-card img{
  width:100px;
  height:100px;
  border-radius: 50%;
}